.env

__pycache__/
*.pyc
.venv/

dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

data/raw/*.csv
data/raw/*.parquet

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

.DS_Store